.welcome-message {
  font-size: 2.5em;
  background-color: hsl(120, 120%, 42%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5em;
  background-color: hsl(0, 120%, 42%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.profile__image {
  max-width: 300px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px black;
  text-align: center;
}

.stopwatch-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border: 50px;
  background-color: white;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: brown;
  margin-bottom: 25px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: hsl(115, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(115, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}

.stop-button:hover {
  background-color: hsl(10, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}
